/* @import url('https://fonts.google.com/specimen/Rubik'); */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap')*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color:  hsl(226, 43%, 10%);
    font-family:'Rubik','Arial Narrow' ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.container{
    display: flex;
    /* align-self: center; */
    flex-direction: row;
    align-items: center;
    /* margin: auto auto; */

}
.contain{
    justify-content: space-between;
    max-width: 695px;
}
.user{
    margin: 11px 23px 0 0;
    background-color: hsl(235, 46%, 20%);
    width: 151px;
    border-radius: 10px;
    height: 305px; 

}
.time{
padding: 6px 18px 6px;
color: hsl(235, 45%, 61%);
font-size: 12px;
}

.user-bio{
    background:  hsl(246, 80%, 60%);
    padding: 0px  30px 50px  20px;
    height: 200px;
    width: 150px;
    border-radius: 10px;    
}
.user-image{
    border: #fff 1px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    padding: 0;
}
.about{
    color: rgb(230, 230, 241);
    opacity: 0.7;
    margin-right: 10px;
    /* padding-left: 10px; */
    font-size:12px;
}
.name{
    color: #fff;
    padding-top: 5px;
    font-weight: 300;
    font-size: 19px;
    padding: 0;
    margin: 0;
}
.grand-box{
    display: flex;
    font-display: row;
    flex-wrap: wrap;
    justify-content:space-between;
    max-width: 530px;
    align-content: space-between;
    
}
.box1{
    display: flex;
    flex-direction: column;
    flex-basis: 160px;
}
.box{
    background-color: hsl(235, 46%, 20%);
    color: #fff;
    /* width: 160px; */
    height: 115px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}
.box:hover{
    background-color:  hsl(246, 80%, 60%);
    cursor: pointer;
}
.work-icon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(15, 100%, 70%);
    height: 36px;
    width:100%;
    padding-top: 0px;
    padding-left: 90px;
    object-fit: contain;
    position: relative;
    top: 16px;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.option-icon{
    margin-right: 20px;
   
}
.option-icon:hover{
    cursor: pointer;
   
}
.work{
    font-size: 13px;
    padding:0  20px; 
    font-weight: 500;
}
.self{
    font-size: 10px;
    padding:0  0px 0px 20px; 
}
.self-icon{
  margin-right: 18px;
}
.self-icon:hover{
    cursor: pointer;
   
}
.hours{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    padding:10px  0px 10px 20px;
    display: inline;

}
.H{
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    display: inline;
}
.last-rep{
    margin: 5px 0px;
    padding:0  20px 20px;   
    font-size: 10px;
    color: hsl(235, 45%, 61%);
}
.play-icon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
    height: 36px;
    width: 100%;
    margin: 0;
    padding-top: 0px;
    padding-left: 90px;
    object-fit: contain;
    position: relative;
    top: 16px;
}
.study-icon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(348, 100%, 68%);
    height: 36px;
    width: 100%;
    margin: 0;
    padding-top: 0px;
    padding-left: 90px;
    object-fit: contain;
    position: relative;
    top: 16px;
}
.measure{
    font-weight: 500;
}
.exercise-icon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:  hsl(145, 58%, 55%);
    height: 36px;
    width: 100%;
    margin: 0;
    padding-top: 0px;
    padding-left: 90px;
    object-fit: contain;
    position: relative;
    top: 16px;
}
.social-icon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:  hsl(264, 64%, 52%);
    height: 36px;
    width: 100%;
    margin: 0;
    padding-top: 0px;
    padding-left: 90px;
    object-fit: contain;
    position: relative;
    top: 16px;
}
.self-care-icon{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:   hsl(43, 84%, 65%);
    height: 36px;
    width: 100%;
    margin: 0;
    padding-top: 0px;
    padding-left: 90px;
    object-fit: contain;
    position: relative;
    top: 16px;
}
.time>p:hover{
    cursor: pointer;
    color: white;
}
@media(max-width:900px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .container{
        display: flex;
        flex-direction:column;
        justify-content: center;
        padding: 60px;
    }
    .user{
        margin: 0;
        width: 220px;
        height: 150px;
    }
    .user-bio{
        display: flex;
        flex-direction: row;
        width: 220px;
        height: 100px;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
    .user-image{
        padding: 0;
        margin: 10px 0px 0px 12px;
        border: 3px white solid;

    }
    .options{
        display: flex;
        margin-top: 20px;
        align-items: flex-end;
    }
    .name{
        margin:0 10px 0 0px;
    }
    .time{
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .grand-box{
        display: flex;
        flex-direction: column;
    }
    .box{
        padding: 0;
        width: 220px;
        height: 90px;
    }
    /* .box1{
        display: flex;
        flex-direction: column;
        flex-basis: 160px
    } */
    .work{
        font-size: 12px;
    }
    .timing{
        display: flex;
        justify-content: space-between;
    }
    .measure{
        margin-top: 5px;
        font-weight: 500;
    }
    .last-rep{
        margin-top: 20px;
    }
    .icon{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 36px;
        width: 100%;
        margin: 0;
        padding-top: 0px;
        padding-left: 160px;
        object-fit: contain;
        position: relative;
        top: 16px;
    }
}
